<p id="notice"><%= notice %></p>

<div class="container">

<p>
  <strong>Customer's e-mail:</strong>
  <%= @screening.customer.email %>
</p>

<p>
  <strong>Film title:</strong>
  <%= @screening.film.title %>
</p>

<p>
  <strong>Screening date:</strong>
  <%= @screening.screeningdate.to_time.strftime('%Y-%m-%d %H:%M') %>
</p>

<p>
  <strong>Ticker price:</strong>
  <%= @screening.price %>
</p>

<hr />

<%= link_to 'Edit', edit_screening_path(@screening) %> |
<%= link_to 'Back', screenings_path %>

</div>
