<p id="notice"><%= notice %></p>

<div class="container">
    <div class="d-inline-block">
    </div>
    <div class="d-inline-block float-right" style="margin-top: 10px;">
</div>

<h1>Films</h1> 
<center>
<%= form_tag(films_path, method: :get , id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search" %>
    <%= submit_tag "Search", name: nil, class: "btn btn-warning btn-sm " %>  <%= link_to 'Back', films_path , :class => "btn btn-warning btn-sm"%>
<% end %> 
</center>



<%= link_to 'New Film', new_film_path, :class => "btn btn-warning btn-sm" %> 

<table class="table table-dark table-stripped table-hover sortable">
  <thead>
    <tr>
      <th data-sortable="true">Title</th>
      <th>Director</th>
      <th>Release year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @films.each do |film| %>
      <tr>
        <td><%= film.title %></td>
        <td><%= film.director %></td>
        <td><%= film.release_year %></td>
        <td><%= link_to 'Show', film, :class => "btn btn-success btn-sm" %></td>
        <td><%= link_to 'Edit', edit_film_path(film), :class => "btn btn-info btn-sm" %></td>
        <td><%= link_to 'Destroy', film, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


