%p#notice= notice
.container
  .image
    %p
      = image_tag(@film.image.url, alt: 'Photo') if @film.image?
  %p
    %strong Title:
    = @film.title
  %p
    %strong Director:
    = @film.director
  %p
    %strong Release year:
    = @film.release_year
  %hr/
  = link_to 'Edit', edit_film_path(@film)
  |
  = link_to 'Back', films_path
